---
name: Validate Yaml and Markdown

# Triggers the workflow on push or pull request events
on: [push, pull_request]

jobs:
  test-redoc:
    runs-on: ubuntu-latest
    name: Lint documentation
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Lint all md files
        uses: nosborn/github-action-markdown-cli@v3.5.0
        with:
          files: .
      - name: Lint yaml files
        uses: ibiqlik/action-yamllint@v3
